@each $alert-name, $alert-settings in $alerts {
  $alert-background-color:  map-get($alert-settings, background-color);
  $alert-color:  map-get($alert-settings, color);

  .alert--#{$alert-name} {
    @include position(relative);
    @include rem(margin, 0 auto 15px);
    @include rem(padding, 10px);
    background: lighten($alert-background-color, 10%);
    border: 1px solid $alert-color;
    color: $alert-color;
    display: inline-block;
    max-width: 23em;
    text-align: center;
    width: 100%;
    z-index: 9999;

    @include media($tablet) { max-width: 68em; }

    #app-icon{ fill: $alert-color; }
  }

  .alert--content {
    @include font-type($primary-sans-serif, normal, 700);
    margin: 0;
  }

  .alert--close-icon {
    @include position(absolute, 5px 5px null null);
  }

  .alert__banner {
    @include position(absolute, 10px 0 null 0);
  }
};