$default-button-border-radius: 2px !default;

@each $button-type, $button-type-settings in $button-types {
  .button--#{$button-type} {
    @include button($button-type-settings);

    // set default button size settings
    @include default-button-size($button-sizes);
  }

  .link-#{$button-type} {
    @include link($button-type-settings);
  }
}

@each $button-size-name, $button-size-settings in $button-sizes {
  $button-font-type: map-get($button-size-settings, font-type);
  $button-font-style: map-get($button-size-settings, font-style);
  $button-weight: map-get($button-size-settings, weight);
  $button-size: map-get($button-size-settings, size);
  $button-padding: map-get($button-size-settings, padding);

  @if $button-size-name != default {
    .button__#{$button-size-name} {
      @include button-size($button-font-type, $button-font-style, $button-weight, $button-size, $button-padding);
    }
  }
}

.link__underline {
  text-decoration: underline;
  &:hover{ text-decoration: underline; }
}

.button__long {
  @include rem(padding, 10px 40px);
}

// Button List Styles
.button-list {
  @include span-columns(12 of 12);
  text-align: center;

  li{ display: inline; }

  li > a{
    @include rem(min-width, 135px);
    display: inline-block;
  }
}