// $topbar-settings: (
//   background-color: $white-dark,
//   border: 1px solid $grey-light,
//   height: 70px,
//   gutter: 20px
// );

$topbar-vertical-padding: map-get($topbar-settings, vertical-padding);
$topbar-horizontal-padding: map-get($topbar-settings, horizontal-padding);
$topbar-height: map-get($topbar-settings, height);
$total-topbar-height: $topbar-height;

.topbar {
  @include rem(padding, $topbar-vertical-padding $topbar-horizontal-padding);
  @include position(relative);
  @include rem(height, $topbar-height);
  background-color: map-get($topbar-settings, background-color);
  z-index: 100;
  text-align: center;
  border-bottom: map-get($topbar-settings, border-bottom);

  @include media($tablet) {
    overflow: hidden;
  }

  .topbar--left, .topbar--middle {
    @include media($tablet) { float: left; }
  }

  .topbar--right {
    display: none;

    @include media($tablet) {
      float: right;
      padding: 0;
      display: block;
    }
  }

  .topbar--left {
    @include media($tablet) {
      @include rem(height, $topbar-height);
    }
  }

  li {
    display: inline-block;
  }
}
