<div class="session-breakout">
  <h4 class="breakout--title">A FEW TIPS</h4>
  <ul>
    <li class="breakout--item">
      <div class="breakout--content">
        <h4 class="item--title">Watch shipper turnaround</h4>
        <p>Your time is valuable, if you know a shipper is slow, negotiate for a higher rate to compensate.</p>
      </div>
    </li>
    <li class="breakout--item">
      <div class="breakout--content">
        <h4 class="item--title">Decrease your Deadhead</h4>
        <p>With downtime on the road, analyze potential backhaul so you’re not rushed to pick up a load.</p>
      </div>
    </li>
  </ul>
</div>