@mixin dynamic-background($properties) {
  $gradient: map-get($properties, gradient);

}

@mixin button-state-properties($properties) {
  $background-color: map-get($properties, background-color);
  $border-color: map-get($properties, border-color);
  $border-radius: map-get($properties, border-radius);
  $box-shadow: map-get($properties, box-shadow);
  $color: map-get($properties, color);
  $font-family: map-get($properties, font-family);
  $gradient: map-get($properties, gradient);
  $strike-through: map-get($properties, strike-through);

  @if $background-color {
    background-color: $background-color;
  }

  @if $border-color {
    border-color: $border-color;
  }

  @if $border-radius {
    border-radius: $border-radius;
  }

  @if $box-shadow {
    box-shadow: $box-shadow;
  }

  @if $color {
    color: $color;
  }

  @if $gradient {
    @include linearGradient($all: $gradient);
  }

}

@mixin button-size-properties($properties) {
  $padding: map-get($properties, padding);
  $border-width: map-get($properties, border-width);
  $border-radius: map-get($properties, border-radius);
  $font-size: map-get($properties, font-size);

  @if $padding {
    padding: $padding;
  }
  @if $border-width {
    border-width: $border-width;
  }
  @if $border-radius {
    border-radius: $border-radius;
  }
  @if $font-size {
    font-size: $font-size;
  }
}


// DESIRED META MIXIN
@mixin embed-properties($properties) {
  @each $property-name, $property-value in $properties {
    // @if $property-value #{$property-name}: $property-value
  }
}
