@mixin button($button-type-settings) {
  $button-background-color: map-get($button-type-settings, background-color);
  $button-border-radius: map-get($button-type-settings, border-radius);
  $button-color: map-get($button-type-settings, color);

  background-color: $button-background-color;

  // border radius
  @if $button-border-radius {
    border-radius: $button-border-radius;
  } @else {
    border-radius: $default-button-border-radius;
  }

  color: $button-color;
  display: inline-block;
  @include transition (all 0.3s ease-in-out);
  @include position(relative, null null null null);
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    opacity: 1;
    background-color: darken($button-background-color, 5%);
  }

  &:focus{
    border: none;
    @include box-shadow(0 0 0, transparent);
    outline: none;
    text-decoration: none;
  }

  &:active{
    background-color: darken($button-background-color, 3%);
    color: darken($button-color, 5%);
  }
}


@mixin button-size($font-type, $font-style, $weight, $font-size, $padding) {
  @include font-type($font-type, $font-style, $weight);
  @include rem(font-size, $font-size);
  @include rem(padding, $padding);
}

@mixin link($link-type) {
  @include transition(all 0.3s ease-in-out);
  color: map-get($link-type, color);
  font-style: inherit;

  &:hover{
    cursor: pointer;
    opacity: 0.6;
  }
}

@mixin default-button-size($button-sizes) {
  $default-button-font-type: map-deep-get($button-sizes, default, font-type);
  $default-button-font-style: map-deep-get($button-sizes, default, font-style);
  $default-button-weight: map-deep-get($button-sizes, default, weight);
  $default-button-size: map-deep-get($button-sizes, default, size);
  $default-button-padding: map-deep-get($button-sizes, default, padding);

  @include button-size($default-button-font-type, $default-button-font-style, $default-button-weight, $default-button-size, $default-button-padding);
}