<!DOCTYPE html>
<html>
<head>
  <title>Launch</title>
  <%= stylesheet_link_tag    "launch/application", media: "all" %>
  <%= javascript_include_tag "launch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
