%border-solid {
  border-style: solid;
}

%border-1 {
  border-width: 1px;
}

%border-radius-base {
  border-radius: 3px;
}

.box-overlay {
  @extend %background-white;
  // border-color: $blue;
  @extend %border-1;
  @extend %border-solid;
  @extend %border-radius-base;
  // box-shadow: 0 0 0 4px rgba($black, .06);
}

// Alignments

@each $align in $alignments {
  %vertical-align-#{$align} {
    vertical-align: $align;
  }
}

// Displays

@each $display in $displays {
  .display-#{$display} {
    display: $display;
  }
}

// Floats

@each $float in $floats {
  .pull-#{$float} {
    float: $float;
  }
}

// Positions

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}

